@model Leave_Management.Models.EmployeeLeaveRequestViewVM

@{
    ViewData["Title"] = "MyLeave";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}
    
<h2>My Leave Allocations</h2>

<div class="jumbotron">
    <ul class="list-group">
        @foreach (var item in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <h6>@Html.DisplayFor(modelItem => item.LeaveType.Name) <span class="badge badge-secondary">@item.NumberOfDays</span></h6>
            </li>
        }
    </ul>
</div>

<hr />

<h2>My Leave Requests</h2>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Leave Type
            </th>
            <th>
                Leave ID
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Approval Status
            </th>
            <th>
                Cancel Request
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Cancelled)
                {
                    <span class="badge badge-secondary">Cancelled</span>
                }
                else if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-warning">Pending Approval</span>
                }
            </td>
            <td>
                @if (item.StartDate > DateTime.Now && item.Approved != false && !item.Cancelled)
                {
                    <a class="btn btn-danger" asp-action="CancelRequest" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to cancel this request?')">
                        <i class="fa fa-trash" aria-hidden="true" ></i>
                    </a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script>
}
